{% extends 'base.html.twig' %}

{% block title %}DetalleFactura index{% endblock %}

{% block body %}
    <h1>DetalleFactura index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detalle_factura in detalle_facturas %}
            <tr>
                <td>{{ detalle_factura.id }}</td>
                <td>{{ detalle_factura.cantidad }}</td>
                <td>{{ detalle_factura.precio }}</td>
                <td>
                    <a href="{{ path('app_detalle_factura_show', {'id': detalle_factura.id}) }}">show</a>
                    <a href="{{ path('app_detalle_factura_edit', {'id': detalle_factura.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_detalle_factura_new') }}">Create new</a>
{% endblock %}
