{% extends 'base.html.twig' %}

{% block title %}DetalleFactura{% endblock %}

{% block body %}
    <h1>DetalleFactura</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detalle_factura.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ detalle_factura.cantidad }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ detalle_factura.precio }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_detalle_factura_index') }}">back to list</a>

    <a href="{{ path('app_detalle_factura_edit', {'id': detalle_factura.id}) }}">edit</a>

    {{ include('detalle_factura/_delete_form.html.twig') }}
{% endblock %}
