{% extends 'base.html.twig' %}

{% block title %}Clientes index{% endblock %}

{% block body %}
    <h1>Clientes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Genero</th>
                <th>Detalles</th>
                <th>Fecha_creacion</th>
                <th>Fecha_actualizacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.genero }}</td>
                <td>{{ cliente.detalles }}</td>
                <td>{{ cliente.fechaCreacion ? cliente.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cliente.fechaActualizacion ? cliente.fechaActualizacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_clientes_show', {'id': cliente.id}) }}">show</a>
                    <a href="{{ path('app_clientes_edit', {'id': cliente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_clientes_new') }}">Create new</a>
{% endblock %}
